<div class="about-main">
  <h2>About</h2>
  <p>
    Chirp is a social networking service for digital nomads.
    Users can post and interact with short messages called "chirps".
  </p>
  <img class="about-img" src="">
</div>